.video-section__media {
  display: flex;
  justify-content: center;
  height: 600px;
  width: 100%;
}

/* Needed for gradient continuity with or without animation so that transparent PNG images come up as we would expect */
.scroll-trigger:where(.gradient.video-section__media) {
  background: transparent;
}

.video-section__media.global-media-settings--full-width {
  padding-bottom: var(--ratio-percent);
}

.video-section__media.deferred-media {
  box-shadow: var(--media-shadow-horizontal-offset) var(--media-shadow-vertical-offset) var(--media-shadow-blur-radius) rgba(var(--color-shadow), var(--media-shadow-opacity));
}

.video-section__media.deferred-media:after {
  content: none;
}

.video-section__poster.deferred-media__poster:focus {
  outline-offset: 0.3rem;
}

.video-section__media iframe {
  background-color: rgba(var(--color-foreground), 0.03);
  border: 0;
}

.video-section__poster,
.video-section__media iframe,
.video-section__media video {
  max-width: 1000px;
  max-height: 600px;
  width: auto;
  height: auto;
}

.video-section__media video {
  background: #000000;
}

.video-section__media.media-fit-cover video {
  object-fit: cover;
}

.video_main {
  width: 90%;
  max-width: 1000px !important;
  /* max-height: 600px !important; */
}

.video_main_container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 750px) {
  .video-section__media video {
    max-width: 600px;
    max-height: 600px;
  }
}

@media screen and (max-width: 425px) {
  .video-section__media video {
    max-height: 400px;
    max-width: 400px;
  }

  .video-section__media {
    height: 400px;
  }
}